.App {
  text-align: center;
}
/* ================ All draftBoard Styling goes here ================ */
.draftBoard {
  height: 50%;
  width: 100%;
  border: 3px solid #A5ACAF;
  padding: 3px;
  /* Right border was requiring a horizontal scroll bar to view, 
  this keeps border within visible view */
  box-sizing: border-box; 
}

.startDraftButton {
  background-color: rgba(25, 25, 110, 0.973);
  color: rgb(238, 222, 222);
  border-radius: 20px; /* Adjust the border radius to control the roundness */
  padding: 10px 20px;
  font-size: 1vw;
  cursor: pointer;
}

.countdownDiv {
  font-size: 2vw;
}

.teamsGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  margin-top: 3px;
}

.team {
  border: 1px solid black;
}

.playerList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playerList li {
  margin-bottom: 2px;
}

/* =================================================================== */




/* ================ All Container Styling goes here ================ */
.container {
  display: flex; /* using Flexbox for our dual panels below the Draft Board */
  height: 100%;
}
/* =================================================================== */




/* ================ All AvailablePlayerList Styling goes here ================ */
.availablePlayerList {
  flex: 1;
  height: 100%;
  border: 3px solid #FFB612;
  box-sizing: border-box; 
}

.grid-header,
.grid-row {
  display: flex;
}

.grid-column {
  flex: 1;
  border-right: 1px solid;
}

.grid-column:last-child {
  border-right: none;
}

.grid-header {
  font-weight: bold;
  overflow-y: auto;
}

/*.grid-body {

}  going to need to setup a scroll bar here*/
/* =================================================================== */





/* ================ All teamManagement Styling goes here ================ */
.teamManagement {
  flex: 1;
  height: 100%;
  border: 3px solid #101820;
  box-sizing: border-box; 
}
/* =================================================================== */
