.App {
  text-align: center;
  background-color: rgb(160, 160, 162);
}
/* ================ All draftBoard Styling goes here ================ */
.draftBoard {
  height: 50%;
  width: 100%;
  padding: 3px;
  /* Right border was requiring a horizontal scroll bar to view, 
  this keeps border within visible view */
  box-sizing: border-box; 
}

.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: center;

}

.startDraftButton {
  background-color: rgba(25, 25, 110, 0.973);
  color: rgb(238, 222, 222);
  border: 2px solid rgb(238, 222, 222);
  border-radius: 20px; /* Adjust the border radius to control the roundness */
  padding: 10px 20px;
  font-size: 1vw;
  cursor: pointer;
  margin-bottom: 0.5vh;
}

.resetDraftButton {
  background-color: red;
  color: black;
  border: 3px solid black;
  border-radius: 20px; /* Adjust the border radius to control the roundness */
  padding: 10px 20px;
  font-size: 1vw;
  cursor: pointer;
  position: absolute;
  top: 0; /* Align to the top */
  right: 0; /* Align to the right */
  margin: 5px; /* Add some margin for better spacing */
}

.countdownDiv {
  font-size: 2vw;
}

.teamsGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  margin-top: 1px;
}

.team {
  border: 1px solid black;
}

.playerList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playerList li {
  margin-bottom: 2px;
}

h4 {
  margin: 1vh;
}

/* =================================================================== */




/* ================ All Container Styling goes here ================ */
.container {
  display: flex; /* using Flexbox for our dual panels below the Draft Board */
  height: 100%;
}
/* =================================================================== */




/* ================ All AvailablePlayerList Styling goes here ================ */
.availablePlayerList {
  flex: 1;
  height: 100%;
  border: 2px solid #FFB612;
  box-sizing: border-box; 
}

.search-bar {
  background-color: #101820;
}

input {
  width: 33%;
}
/* =================================================================== */





/* ================ All teamManagement Styling goes here ================ */
.teamManagement {
  flex: 1;
  height: 100%;
  box-sizing: border-box; 
}

.teamManagementPlayerList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid-header,
.grid-row {
  display: flex;
}

.grid-column {
  flex: 1;
  border-right: 1px solid;
}

.grid-column:last-child {
  border-right: none;
}

.grid-header {
  font-weight: bold;
  overflow-y: auto;
}
/* =================================================================== */
